# auth
BETTER_AUTH_SECRET=z+Zpf/+l28oTmCCx55Ni9zKXMCDaB006vzY9wC5JQIU= # random key
BETTER_AUTH_URL=example.com # you domain

# email login
EMAIL_PASSWORD_LOGIN_ENABLED=false # set true to enable email/password login
AUTH_RESEND_API_KEY= # set to enable email verification for email/password login
AUTH_RESEND_FROM=OpenMail <onboarding@resend.dev> # use a verified Resend sender in production

# google oauth2 login
GOOGLE_CLIENT_ID=xxxxxxxxxx.apps.googleusercontent.com 
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxx

# admin
ADMIN_EMAIL=admin@gmail.com # your gmail account
